.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    color: var(--primary-color);
    background: var(--overlay-color);
}

.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: var(--bg-color);
    max-width: 60%;
}

@keyframes modalRisen {
    from {
        transform: scale(0.5);
        opacity: 0.5;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        animation: modalRisen 0.3s;
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
        opacity: 0.5;
        transition: 0.2s transform;
    }
}
