.app_dark_theme {
    --bg-color: #111127;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #1a1a3a;
    --inverted-secondary-color: #1c1c3a;

    // skeleton
    --skeleton-color: #1a1a3a;
    --skeleton-shadow: #242442;

    // code
    --cod-bg: #1d1d75;

    // card
    --card-bg: #1f1f4a;

    // ListBox
    --listbox-bg: #1f1f4a;
}
