.app_orange_theme {
  --bg-color: #c14a04;
  --inverted-bg-color: #9B1003;
  --primary-color: #FBF6F4;
  --secondary-color: #ffede9;
  --inverted-primary-color: #f6a271;
  --inverted-secondary-color: #ff9251;
}
