.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.appName {
    padding-left: 10px;
    width: var(--sidebar-width);
    text-transform: uppercase;
    font-weight: bold;
}

.createLink {
    margin-left: 30px;
}
